@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@400;500;700;900&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800;900&display=swap');

body{
    margin: 0;
    padding: 10px;
    max-width: 100vw;
    background-color: #14101d;
    font-family: "Noto Sans","Sans Serif";
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    li
    {
        font-family: 'Labrada', sans-serif;
        display: inline-block;
        margin: 10px;
        font-weight: 600;
        font-size:23px;
        margin-left: 56px;
        margin-right:32px;
        }
        
        a{
        margin-bottom: 10px;
        color: #5a969d;
        text-decoration: none;
        } 
        
        a:hover
        {
          color: #995f84;
        }

        .logo{
            width: 240px;
            padding-top: 15px;
            padding-left: 28px;
            }

div#container{
    width: 99vw;
    height:80vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    background-color: rgb(61, 65, 111);
    width: 1050px;
    height: 900px;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div#formulario
{
    width: 1000px;
    height: 850px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rows{
    width: 720px;
    height: 55px;
    margin: 10px;
    margin-left:50px;
    margin-right: 50px;

}

h1{
    color: #ebebebee;
    font-size: 50px;
    font-family: "Labrada", sans-serif;
    margin-top: 3px;
}

#botao{
    text-align: center;
    background-color: #5a969d;
    color: #ebebebee;
    margin-top: 15px;
    height: 60px;
    width: 300px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Noto Sans",serif;
    font-style: black;
    font-weight: 800;
    letter-spacing: 1px;
    padding-top: 8px;
    cursor: pointer;
  }

  input#botao:hover{
    background-color: #995f84;
  }

  input{
    margin-top:20px;
    height: 30px;
    color: rgb(68, 71, 90);
    font-weight: 900px;
    font-size: 28px;
    padding: 20px 5px 5px;
    background-color: rgb(219, 220, 229);
    border: none;
    border-radius:15px 15px 15px 15px;
    outline: none!important;
    padding-left: 10px;
    font-size: 20px;
  }

  #nome{
    width: 350px;
}

#sobrenome{
    margin-left: 35px;
    width: 400px;
}
#email{

width: 700px;}

#row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
