@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@400;500;700;900&family=Noto+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #14101d;
}

#div-left{
    background-color: #f0e5ec;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}

#div-right{


}
