@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@400;500;700;900&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800;900&display=swap');

/*1420 É O LIMETE */

:root{
  --cor0:#995f84;
  --cor1:#5a969d;
  --cor2:rgb(61, 65, 111);
  --cor3:#ebebebee;
  --cor4: #14101d;
}

body{
    margin: 0;
    padding: 10px;
    background-color: var(--cor4);
    font-family: "Noto Sans","Sans Serif";
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

li
{
  font-family: 'Labrada', sans-serif;
  display: inline-block;
  margin: 10px;
  font-weight: 600;
  font-size:23px;
  margin-left: 56px;
  margin-right:32px;
}
        
a{
  color: #5a969d;
  text-decoration: none;
} 
        
a:hover
{
  color: var(--cor0);
}

.logo{ 
  width: 240px; /* 240px */
  padding-top: 15px;
  padding-left: 28px;
  z-index: 2;
}

#house{
  height: 650px; /* 650px */
  margin-bottom: 17px;
  padding-left: 50px;
}

div#container
{
    width: 99vw; /* 99vw */
    height:80vh;  /* 80vh */
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#div-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor2);
    width: 700px; /* 700px */
    height: 580px; /* 580px */
    border-radius: 0px 10px 10px 0px ;
  
}

#div-left{
    background-color: rgb(61, 65, 111);
    width: 700px; /* 700px */
    height: 580px; /* 580px */
    border-radius: 10px 0px 0px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
  font-family: 'Labrada', sans-serif;
  color: #ebebebee;
  font-size: 3.5em;
  margin-right: 100px;
}
#formulario{
    width: 600px; /* 600px */
    height: 300px; /* 300px */
    background-color: rgb(77, 81, 123);
    display: flex;
    border-radius: 12px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.562);
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: -20px;
    margin-right: 100px;
}

#botao{
    background-color: #5a969d;
    color: #ebebebee;
    margin-top: 15px;
    height: 45px;
    width: 170px; /* 170px */
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Noto Sans",serif;
    font-style: black;
    font-weight: 800;
    letter-spacing: 1px;
    padding-top: 8px;
    cursor: pointer;
  }

  input#botao:hover{
    background-color: var(--cor0);
  }

#btn{
    padding-top: 10px;
    background-color: var(--cor1);
    color: var(--cor3);
    margin-top: 15px;
    height: 50px;
    width: 350px; /* 350px */
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: "Labrada",serif;
    font-style: black;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#cad{
    color: rgb(216, 217, 226);
    font-family: "Noto Sans",serif;
    font-size: 14px;
    letter-spacing: 0.75px;
}

a#cad:hover{
  letter-spacing: 0.5px;
  font-weight:600;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width:400px; /* 400px */
    flex-direction: column;
  }

input{
    margin-top:20px;
    height: 30px;
    width: 350px; /* 350px */
    color: rgb(68, 71, 90);
    font-weight: 900;
    font-size: 28px;
    padding: 20px 5px 5px;
    background-color: rgb(219, 220, 229);
    border: none;
    border-radius:15px 15px 15px 15px;
    outline: none!important;
    padding-left: 10px;
    font-size: 20px;
  }

  label.email {
    color: rgb(68, 71, 90);
    font-weight: 900;
    position: absolute;
    bottom: 205px; /* 205px */
    left: 25px;
    width: 200px; /* 200px */
    height:  30px;
    font-size: 18px;
  }

  label.senha {
    color: rgb(68, 71, 90);
    font-weight: 900;
    position: absolute;
    bottom: 130px;
    left: 25px;
    font-size: 18px;
    width: 200px; /* 200px */
    height:  30px;
  }
